/* add your CSS here */
#interesting-fact{
	font-style: italic;
}
li span{
	font-weight: bold;
}
#facts{
	list-style: none;
  	padding-left: 0px;
}
.animal-info{
	border: solid 1px #bdc3c7;
   	padding: 10px;
}
#container{
	border: solid 1px #bdc3c7;
  	width: 300px;
  	padding: 10px;
}